    <section id="roster-holder">
        <% roster.forEach(x=>{ %>
            
            <section class="character-card">
                <h1><%= x.name %></h1>
                <!-- <p>Run Speed: <%= x.runSpeed %></p>
                <p>Air Speed: <%= x.airSpeed %></p>
                <p>Weight: <%= x.weight %></p>
                <p>Fastest Out of Shield Option: <%= x.fastestOutOfShield %></p> -->
            </section>
            
        <% }) %>
    </section>
    