<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <section id="top">
        <section id="showcase-holder" class="big-character-card">
            <h1><%= showcase.name %></h1>
            <p>Run Speed: <%= showcase.runSpeed %></p>
            <p>Air Speed: <%= showcase.airSpeed %></p>
            <p>Weight: <%= showcase.weight %></p>
            <p>Fastest Out of Shield Option: <%= showcase.fastestOutOfShield %></p>
        </section>
        <form action="/">
            <button type="submit">Return to character addition</button>
        </form>
    </section>
    
    <form action="/character" method="POST" class="form">
        <label>Enter a character's name
            <input type="text" required name="name">
        </label>
        <button type="submit">Submit</button>
    </form>
    <%- include("./partials/roster")  %>
</body>
</html>